.wrap {
  height: 100vh;
  background-color: #fff;
  color: #333;

  .br {
    height: 20px;
  }

  .bar-chart, .pie-chart, .line-chart {
    width: 100%;
    height: 33vh;
    margin: 0 auto 30px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    z-index:-1
  }

  .picker {
    color: #333;
  }

  .bar-chart{
    height: 40vh;
  }

  .pie-chart{
    height: 36vh;
    display: block;
  }

  .line-chart{
    margin-bottom: 80px
  }

  .date{
    font-size: 28px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #555;
    font-weight: 700;
    line-height: 40px
  }

  .title {
    width: 100%;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 20px;
    margin: 20px;
    border-left: 5px solid #6190E8;
  }

  .loading{
    width: 100px;
    margin: 30px auto
  }
}