.wrap {
  height: 100vh;
  background-color: #fff;

  .br {
    height: 20px;
  }

  .bar-chart, .pie-chart, .line-chart {
    width: 90%;
    height: 30vh;
    margin: 0 auto 30px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
  }
}